<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<orient-server>
    <network>
        <protocols>
            <protocol name="binary" implementation="com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary"/>
			<protocol name="http" implementation="com.orientechnologies.orient.server.network.protocol.http.ONetworkProtocolHttpDb"/>
        </protocols>
        <listeners>
            <listener protocol="binary" port-range="2424-2430" ip-address="127.0.0.1"/>
			<listener ip-address="127.0.0.1" port-range="2480-2490" protocol="http"/>
        </listeners>
    </network>
    <storages>
		<storage name="aq21db" path="local:C:/temp/orientdb/mydb"
           userName="root" userPassword="ala123" loaded-at-startup="true" />
		<storage name="testdb" path="local:C:/temp/orientdb/test"
           userName="root" userPassword="ala123" loaded-at-startup="true" />
	</storages>
    <users>
        <user name="root" password="ala123" resources="*"/>
        <user resources="connect,server.listDatabases,server.dblist" password="guest" name="guest"/>
    </users>
    <security>
        <users/>
        <resources/>
    </security>
	<properties>
		<entry name="orientdb.www.path" value="./orientdb/www/"/>
		<entry name="orientdb.config.file" value="./orientdb/orientdb-server-config.xml"/>
		<entry name="orientdb.home" value="./orientdb/" />
		<entry name="server.database.path" value="C:/temp/orientdb" />
		<entry name="server.cache.staticResources" value="false"/>
		<entry name="log.console.level" value="info"/>
		<entry name="log.file.level" value="info"/>
	</properties>
</orient-server>
