<html>
<head>
</head>
<body>
<div data-dojo-type="dijit/layout/BorderContainer" design="headline" gutters="true" style="width: 100%; height: 100%;">
	<div data-dojo-type="dijit/layout/BorderContainer" design="headline" gutters="true"  region="left"
		style="width: 30%; height: 100%;">
		<div data-dojo-type="dijit/layout/ContentPane" extractcontent="false" preventcache="false" preload="false" 
			refreshonshow="false"  splitter="false" maxsize="Infinity" dolayout="false" style="height: 80%;" region="top">
			<div id="runsGrid" style="height : 100%;"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" extractcontent="false" preventcache="false" preload="false" 
			refreshonshow="false"  splitter="false" dolayout="false" style="height: 20%;" region="center">
			<div id="toolbar1" data-dojo-type="dijit/Toolbar" >
				<div data-dojo-type="dijit/form/Button" id="select_all">
					Select all
					<script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
						/*global define runsStore*/
				        window.require(["dijit/registry"], function(registry){
							runsStore.query({selected : false}).forEach(function (run) {runsStore.put({id : run.id, selected : true}); });
				            registry.byId("runsGrid").refresh();
				        });
				    </script>
				</div>
				<div data-dojo-type="dijit/form/Button" id="unselect_all">
					Deselect all
					<script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
                        window.require(["dijit/registry"], function(registry){
                            runsStore.query({selected : true}).forEach(function (run) {runsStore.put({id : run.id, selected : false}); });
                            registry.byId("runsGrid").refresh();
                        });
				    </script>
				</div>
              
                <div data-dojo-type="dijit/form/Button" id="run">
                    Run
                    <script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
                        window.require(["dijit/registry", "dojo/request"], function(registry, request){
                            var input = {};
                            input["attributes"] = attributesStore.query({});
                            input["events"] = eventsStore.query({});
                            input["domains"] = domainsStore.query({});
                            
                            var runNames = runsStore.query({"selected" : true}).map(function (x) { return x.id});
                            runNames.splice(runNames.indexOf("globalLearningParameters"),1);
                            
                            
                            var runs = runNames.map(function (x) { 
                                return { "name" : x ,"runSpecificParameters" : parametersStore.query({ "parent" : x })};
                            });
                            input["runsGroup"] = { 
                                "runNames" : runNames, 
                                "runs" : runs, 
                                "globalLearningParameters" : parametersStore.query({ "parent" : "globalLearningParameters" })
                            };
                            input["id"] = 0;
                            console.log(input);
                            request.post("http://localhost:9998/jersey/aq21/postIt", {
                                data: input,
                                headers : {
                                    "Content-Type" : "application/json"
                                }
                            }).then(function(text){
                                console.log("The server returned: ", text);
                            });
                        });
                    </script>
				</div>
			</div>
		</div>
	</div>
	<span data-dojo-type="dijit/layout/TabContainer" id="runTabs" tabstrip="false" persist="false"  region="center"
		controllerwidget="dijit.layout.TabController" style="width: 70%; height: 100%;" >
	</span>
</div>
</body>
</html>
require([], function(request){
    request.post("post-content.php", {
        data: {
            color: "blue",
            answer: 42
        },
        headers: {
            "X-Something": "A value"
        }
    }).then(function(text){
        console.log("The server returned: ", text);
    });
});
