<html>
<head>
</head>
<body>
<div data-dojo-type="dijit/layout/BorderContainer" design="headline" persist="false" gutters="true" 
		style="min-width: 1em; min-height: 1px; z-index: 0; width: 100%; height: 100%;">
		<div data-dojo-type="dijit/layout/BorderContainer" design="headline" persist="false" gutters="true"  region="left"
			style="min-width: 1em; min-height: 1px; z-index: 0; width: 30%; height: 100%;">
			<div data-dojo-type="dijit/layout/ContentPane" extractcontent="false" preventcache="false" preload="false" 
				refreshonshow="false"  splitter="false" maxsize="Infinity" dolayout="false" style="height: 80%;" region="top">
				<div id="runsGrid" style="width: auto; height : 100%;"></div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" extractcontent="false" preventcache="false" preload="false" 
				refreshonshow="false"  splitter="false" maxsize="Infinity" dolayout="false" style="height: 20%;" region="center">
				<div id="toolbar1" data-dojo-type="dijit/Toolbar" >
				<div data-dojo-type="dijit/form/Button" id="toolbar1.cut" data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconCut'">
					Select all
					<script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
				        window.require(["dijit/registry"], function(registry){
				        	runsStore.query({selected : false}).forEach(function (run) {runsStore.put({id : run.id, selected : true}); });
				            registry.byId("runsGrid").refresh();
				        });
				    </script>
				</div>
				<div data-dojo-type="dijit/form/Button" id="toolbar1.copy" data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconCopy'">
					Deselect all
					<script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
				        window.require(["dijit/registry"], function(registry){
				        	runsStore.query({selected : true}).forEach(function (run) {runsStore.put({id : run.id, selected : false}); });
				            registry.byId("runsGrid").refresh();
				        });
				    </script>
				</div>
				<div data-dojo-type="dijit/form/Button" id="toolbar1.paste" data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconPaste'">
					Run
				</div>
			</div>
		</div>
		</div>
		<span data-dojo-type="dijit/layout/TabContainer" id="runTabs" tabstrip="false" persist="false"  region="center"
			controllerwidget="dijit.layout.TabController" style="min-width: 1em; min-height: 1em; width: 70%; height: 100%;" >
		</span>
	</div>

</body>
</html>